#root {
  max-width: 33vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Container for the list */
.todo-list {
  display: flex;
  flex-direction: column;
}

/* Single todo card */
